<%include ./partials/header%>
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds</h1>
            <p>Xiaohuan's first testing website...</p>
            <a class="btn btn-dark btn-lg" href="/campgrounds/new">Create a new campground</a>
        </div>
    </header>
    <div class="row text-center campground-gallery">
    <%campgrounds.forEach(function(campground) {%>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="margin-bottom: 20px;">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item img-thumbnail" src="<%=campground.image%>" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=campground.name%></h5>
                    <a class="btn btn-dark btn-lg" href="/campgrounds/<%=campground._id%>">Info</a>
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    <%});%>
    </div> 
<%include ./partials/footer%>