/*body {*/
/*    background: lightblue;*/
/*}*/
.btn-inline {
    display: inline;
}
.navbar * {
    color: black;
}
.user-profile {
    margin: -20px;
    height: 100vh;
}
.background-picture {
    width: 600px;
    height: 600px;
    overflow: hidden;
    object-fit: cover;
}
.username{
    position: absolute;
    top: 150px;
    left: 1000px;
}
.profile-picture {
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.comment {
    margin-bottom: 30px;
}
.authored-campgrounds {
    position: absolute;
    top: 350px;
    left: 770px;
}

.campground-image {
    width: 350px;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
}
/*.carousel-inner {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/
.comment-header {
    margin-bottom: 3px;
}
.speech-bubble {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
}
/*.campground-gallery {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.campground p {*/
/*    text-align: center;*/
/*}*/
/*.thumbnail img {*/
    /*display: block;*/
    /*margin: 10px auto 50px auto;*/
    /*width: 300px;*/
/*    height: ;*/
/*    object-fit: cover;*/
/*}*/